<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
   <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="${ctx}/static/css/web/zx_style.css?v=${v}">
    <link rel="stylesheet" type="text/css" href="${ctx}/static/css/web/style.css?v=${v}">
   
</head>
<body>
<div class="ty_gyClear"></div>
<div class="page404Main">
    <p class="page404MainP">
        <a href="/" title="返回首页" alt="返回首页" ><span class="fanhui_index"></span></a>
        <a href="javascript :history.back(-1);"  title="返回上一页" alt="返回上一页"/>
        <span class="fanhui_shangyiye"></span>
        </a>
    </p>
</div>
<div class="ty_gyClear"></div>
</body>
</html>