<%layout("/web/layout/header_layout2.html"){%>
<%}%>
<%layout("/web/layout/body_layout2.html"){%>
<div class="ty_gyClear"></div>
<div class="ttlog_main">
    <div class="ttzhpwd_conter04">
        <img class="ttzhpwd_cheg" src="${ctx}/static/images/web/tt_acusse.png" width="60" />
        <span class="ttzhpwd_chegText">恭喜，注册成功!</span>
        <div class="ty_gyClear"></div>
        <a href="${ctx}/index.html" title="去纳车品供销服务平台&#45;&#45;首页">
            <div class="gongjin_top01">
                <span class="home_icon">&nbsp;</span>
                <span class="home_index">首页</span>
            </div>
        </a>
        <a href="${ctx}/member/purchase.html" title="去申请成为进货商">
            <div class="gongjin_top02">
                <span class="jinhuo_icon">&nbsp;</span>
                <span class="home_index">进货商申请</span>
            </div>
        </a>
        <a href="${ctx}/member/supplier.html" title="去申请成为供货商">
            <div class="gongjin_top03">
                <span class="gonghuo_icon">&nbsp;</span>
                <span class="home_index">供货商申请</span>
            </div>
        </a>
    </div>
</div>
<%}%>

