<%layout("/web/layout/header_layout2.html"){%>
<%}%>
<%layout("/web/layout/body_layout2.html"){%>
<div class="ty_gyClear"></div>
<div class="ttlog_main">
    <div class="ttzhpwd_conter04">
        <img class="ttzhpwd_cheg" src="${ctx}/static/images/web/tt_acusse.png" width="60" />
        <span class="ttzhpwd_chegText">${message!}</span>
        <div class="ty_gyClear"></div>
        <a href="${ctx}/index.html" class="ttzhpwd_lTest02" title="去纳车品供销服务平台--首页">去首页</a>
        <a href="${ctx}/goods/list.html" class="ttzhpwd_lTest03" title="去纳车品供销服务平台--货源商城">去商城</a>
    </div>
</div>
<%}%>