<div id="J_password_edit_modal" tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="query-zone">
                    <form class="sui-form form-horizontal setting-password" novalidate="novalidate" method="POST"
                          action="/admin/settingPwd">
                        <div class="control-group">
                            <div class="span3">
                                <div class="input-prepend">
                                    <span class="add-on"><b style="color: #f00;">*</b>旧密码</span>
                                    <input type="password" name="oldPassword" value=""
                                           data-rules="required|minlength=2|maxlength=30"
                                           data-error-msg="密码必须是2-20位" data-empty-msg="亲，密码别忘记填了"
                                           class="input-fat h18" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="span3">
                                <div class="input-prepend">
                                    <span class="add-on"><b style="color: #f00;">*</b>新密码</span>
                                    <input type="password" name="password" value=""
                                           data-rules="required|minlength=2|maxlength=30"
                                           data-error-msg="密码必须是2-20位" data-empty-msg="亲，密码别忘记填了"
                                           class="input-fat h18" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="span3">
                                <div class="input-prepend">
                                    <span class="add-on"><b style="color: #f00;">*</b>确认密码</span>
                                    <input type="password" name="againPassword" value=""
                                           data-rules="required|minlength=2|maxlength=30"
                                           data-error-msg="密码必须是2-30位" data-empty-msg="亲，密码别忘记填了"
                                           class="input-fat h18" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"></label>

                            <div class="controls">
                                <button type="button" class="sui-btn btn-primary btn-settingPwd">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>