<%layout("layout/header_layout.html"){%>
<title>纳车品供销服务平台-管理后台</title>
<style>
    .sui-nav{display: none;}
    .content{min-height: 500px;min-width: 900px;}
    body {
        min-width: 1190px;
    }
</style>
<%}%>
<%layout("layout/body_layout.html"){%>
<div class="query-zone" style="line-height: 500px;text-align: center;font-size: 32px;color: rgba(0,0,0,.6);border:0;">
    <img src="/static/images/web/huanY_logo.png" width="56" /><span style="padding-left:15px;">纳车品供销平台欢迎你</span>
</div>
<%}%>