<%layout("../layout/header_layout.html"){%>
<title>配货单查询页</title>
<script type="text/javascript">
    $(function () {
        /**
         * 翻页
         */
        Pagination.init();

        /**
         * 重置
         */
        $("input.btn-reset").click(function () {
            Common.reset("form.query-form");
        });
    });
</script>
<%}%>
<%layout("../layout/body_layout.html"){%>
<div class="query-zone" id="searchL">
    <form class="sui-form form-horizontal query-form" id="query-form">
        <div class="sui-row">
            <div class="span2">
                <div class="input-prepend">
                    <span class="add-on">
                        配货单编号：
                    </span>
                    <input type="text" class="input h22" name="code" value="${parameter.code!}"/>
                </div>
            </div>
            <div class="span2">
                &nbsp;
                <button class="sui-btn btn-primary">查询</button>
                <input type="button" class="sui-btn btn-primary btn-reset" value="重置"/>
            </div>
        </div>
    </form>
</div>
    <table class="sui-table table-bordered">
        <thead>
        <th width="80">配货单编号</th>
        <th width="150">上一次操作时间</th>
        <th width="80">状态</th>
        <th>操作</th>
        </thead>
        <tbody>
        <%for(item in pager.data){%>
        <tr>
           <td>${item.code}</td>
            <td>${dts.d2s(item.lastTime)}</td>
            <td>${item.status.name}</td>
            <td><a href="order?pickOrderCode=${item.code}">查看</a></td>
        </tr>
        <%}elsefor{%>
        <tr>
            <td colspan="4" class="zanWuShuju"><p>没有数据</p></td>
        </tr>
        <%}%>
        </tbody>
    </table>
<#page val="${pager.page!}" size="large" params="${parameter.map!}"/>
<%}%>