<%layout("/web/layout/header_layout2.html"){%>
<%}%>
<%layout("/web/layout/body_layout2.html"){%>
<body style="background: #fef5ec;">
<!--支付失败 start-->
<div class="ncp_conBG02">
    <p class="gongxiTil">抱歉，支付失败！</p>
    <p class="gx_jieshiyu">
        <span>可到 " </span>
        <span class="ncp_myddTil"><a href="/member/buyOrder/list.html" title="我的订单">我的订单</a></span>
        <span> " 查看订单详情。</span>
    </p>
    <p class="gx_jieshiyu02">
        <span>如有疑问，请拨打热线电话：</span>
        <span class="ncp_myddTil02">4008-52-2788</span>
    </p>
</div>
<!--支付失败 end-->
<div class="ncp_guanbiP_p">
    <span class="ncp_guanbiPage"><a href="javascript:void(0);" onClick="javascript :window.close();" title="关闭页面">关闭页面</a></span>
</div>
<%}%>