.hidden {
    display: block;
    visibility: inherit;
}
div, ul, li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

body {
    background-color: #FFFFFF;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#TreeList {
    background-color: #FFFFFF;
    margin-top: 6px;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: auto;
    border: 1px solid #f0f0f0;
    padding-bottom: 6px;
    padding-left: 6px;
    margin:10px 6px;
    padding:20px;
}
#TreeList .mouseOver {
    background-color: #fafafa;
}

#TreeList .ParentNode {
    line-height: 40px;
    height: 40px;
    margin-top: 2px;
    clear: both;
}

#TreeList .ChildNode {
    background-image: url(/static/images/add/Sys_ModuleIcos.png);
    background-position: 15px -48px;
    padding-left: 39px;
    line-height: 40px;
    background-repeat: no-repeat;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-top-style: dashed;
    border-right-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-top-color: #aabdce;
    border-right-color: #aabdce;
    border-bottom-color: #aabdce;
    border-left-color: #aabdce;
    cursor: default;
    clear: both;
    height: 40px;
    color: #314f6a;
}

#TreeList .title {
    float: left;
}
#TreeList .input {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    height: 16px;
    background:#3F6B8F;
    width: 120px;
    text-align: center;
    margin-top: 10px;
    border:1px solid #f0f0f0;
    float: left;
}
#TreeList .editBT {
    float: left;
    overflow: visible;
    margin:10px 10px 0 3px;
}
#TreeList .editBT .ok {
    background-image: url(/static/images/add/Sys_ModuleIcos.png);
    background-repeat: no-repeat;
    background-position: 0px -89px;
    height: 13px;
    width: 12px;
    float: left;
    margin-left: 3px;
    padding: 0px;
    margin-top: 3px;
    cursor: pointer;
    margin-right: 5px;
}
#TreeList .editBT .cannel {
    background-image: url(/static/images/add/Sys_ModuleIcos.png);
    background-repeat: no-repeat;
    background-position: 0px -120px;
    float: left;
    height: 13px;
    width: 12px;
    margin-left: 3px;
    padding: 0px;
    margin-top: 3px;
    cursor: pointer;
}

#TreeList .editArea {
    float: left;
    color: #C3C3C3;
    cursor: pointer;
    width: 80%;
    float:right;
}

#TreeList .editArea span {
    margin: 2px;
}

#TreeList .editArea .mouseOver {
    color: #BD4B00;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #C9925A;
    border-right-color: #E6CFBB;
    border-bottom-color: #E6CFBB;
    border-left-color: #C9925A;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 1px;
}

#TreeList .ParentNode .title {
    color: #314f6a;
    cursor: pointer;
    background-image: url(/static/images/add/Sys_ModuleIcos.png);
    background-repeat: no-repeat;
    padding-left: 39px;
}

#TreeList .ParentNode.show .title {
    font-weight: bold;
    background-position: 3px -17px;
}

#TreeList .ParentNode.hidden .title {
    background-position: 3px 14px;
}

#TreeList .ParentNode .editArea {
    color: #999;
}
#TreeList .ParentNode.show {
    background-color: #fff;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #f0f0f0;
    border-right-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-left-color: #f0f0f0;
}

#TreeList .ParentNode.hidden {
}

#TreeList .Row {
    clear: both;
    margin-left: 24px;
    background-image: url(/static/images/add/Sys_ModuleIcos2.png);
    background-repeat: repeat-y;
    background-position: 7px 0px;
}
.SearchEngine_AD1 {
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #FFF;
}

.SearchEngine_AD2 {
    text-align: right;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #FFF;
}
#TreeList .add_treetime{float:right;}