#category-2015 #allsort{height: 376px;background: rgba(255,255,255,0.97);display: block;}
#kinMaxShow .kinMaxShow_image_box,.zx_syright{top:-10px;}
#category-2015 #allsort .item{border-bottom: none;}
#category-2015 #allsort .item .i-mc{background: rgba(255,255,255,0.95);padding:10px 0;height: 361px;border:1px solid #ddd;}
#category-2015 #allsort .item .i-mc dl{border-bottom: 1px dashed #ddd;}
#category-2015 #allsort .item .i-mc dl dd a{color:#333;}
#category-2015 #allsort .item span h3{padding:4px 0 4px 10px;}
#category-2015 #allsort .item span h3:hover{background:rgba(255,255,255,0.86) url(static/images/zuixin/zx_redleft.png) no-repeat 180px center;}
.zx_syright .zx_conterZ p span.more:hover{color:rgba(255,255,255,0.6);}