<%layout("../layout/header_layout.html"){%>
<script src="/static/js/web/zixie.js"></script>
<title>货品查询</title>
<script type="text/javascript">
$(function () {
	
	Pagination.init();
	
	$("input[type='reset']").click(function(){
		
		$("#thirdclassid").html('请选择');
		$("input[name='thirdclassid']").val('');
		$("input[name='thirdclassname']").val('');
		
		$("#secondclassid").html('请选择');
		$("input[name='secondclassid']").val('');
		$("input[name='secondclassname']").val('');
		
		$("#firstclassid").html('请选择');
		$("input[name='firstclassid']").val('');
		$("input[name='firstclassname']").val('');
		
		$("#brandname").html('请选择');
		$("input[name='brandid']").val('');
		$("input[name='brand']").val('');
		
		$("#statusname").html('请选择');
		$("input[name='status']").val('');
		$("input[name='statusname']").val('');
		
		$("#query-form").trigger("reset")
	});
	
	$("#brand li a").click(function(){
		var brand = $(this).attr("title");
		$("input[name='brand']").val(brand);
	});
	
	$("#status li a").click(function(){
		var statusname = $(this).attr("title");
		$("input[name='statusname']").val(statusname);
	});
	
	$("#secondclass li a").click(function(){
		var secondclassid = $(this).attr("value");
		var secondclassname = $(this).attr("title");
		$("input[name='secondclassname']").val(secondclassname);
		
		Common.ajax("/admin/goods/subclass", {id:secondclassid}, function(json) {
			
			var li = '<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>';
			
    		if (json.code == Common.SUCC) {
    			for (var i = 0; i < json.data.length; i++) {
    				li += '<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="' + json.data[i].id + '" title="' + json.data[i].name + '">' + json.data[i].name + '</a></li>'
    			}
    			
    			$("#thirdclass").html(li);
    			$("#thirdclassid").html('请选择');
    			$("input[name='thirdclassid']").val('');
    			$("input[name='thirdclassname']").val('');
    			
    			
    			$("#thirdclass li a").click(function(){
    				var thirdclassid = $(this).attr("value");
    				var thirdclassname = $(this).attr("title");
    				$("input[name='thirdclassname']").val(thirdclassname);
    			});
    			
    		} else {
    			Msg.danger("服务异常");
    		}
    	});
	});
	
	$("#thirdclass li a").click(function(){
		var thirdclassid = $(this).attr("value");
		var thirdclassname = $(this).attr("title");
		$("input[name='thirdclassname']").val(thirdclassname);
	});
	
	$("#firstclass li a").click(function(){
		var firstclassid = $(this).attr("value");
		var firstclassname = $(this).attr("title");
		$("input[name='firstclassname']").val(firstclassname);
		
		Common.ajax("/admin/goods/subclass", {id:firstclassid}, function(json) {
			
			var li = '<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>';
			
    		if (json.code == Common.SUCC) {
    			for (var i = 0; i < json.data.length; i++) {
    				li += '<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="' + json.data[i].id + '" title="' + json.data[i].name + '">' + json.data[i].name + '</a></li>'
    			}
    			
    			$("#secondclass").html(li);
    			
    			$("#secondclassid").html('请选择');
    			$("input[name='secondclassid']").val('');
    			$("input[name='secondclassname']").val('');
    			
    			
    			$("#thirdclassid").html('请选择');
    			$("input[name='thirdclassid']").val('');
    			$("input[name='thirdclassname']").val('');
    			
    			$("#secondclass li a").click(function(){
    				var secondclassid = $(this).attr("value");
    				var secondclassname = $(this).attr("title");
    				$("input[name='secondclassname']").val(secondclassname);
    				
    				Common.ajax("/admin/goods/subclass", {id:secondclassid}, function(json) {
    					
    					var li = '<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>';
    					
    		    		if (json.code == Common.SUCC) {
    		    			for (var i = 0; i < json.data.length; i++) {
    		    				li += '<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="' + json.data[i].id + '" title="' + json.data[i].name + '">' + json.data[i].name + '</a></li>'
    		    			}
    		    			
    		    			$("#thirdclass").html(li);
    		    			$("#thirdclassid").html('请选择');
    		    			$("input[name='thirdclassid']").val('');
    		    			$("input[name='thirdclassname']").val('');
    		    			
    		    			
    		    			$("#thirdclass li a").click(function(){
    		    				var thirdclassid = $(this).attr("value");
    		    				var thirdclassname = $(this).attr("title");
    		    				$("input[name='thirdclassname']").val(thirdclassname);
    		    			});
    		    			
    		    		} else {
    		    			Msg.danger("服务异常");
    		    		}
    		    	});
    			});
    			
    		} else {
    			Msg.danger("服务异常");
    		}
    	});
	});
	
	$("#query-form").validate();
	
})

function showAllLi(obj) {
	$(obj).next().children().each(function(){
		$(this).show();
	});
}

function changeli(event, obj) {
	var realkey = String.fromCharCode(event.which); 
	if ((realkey >= 'a' && realkey <= 'z') || (realkey >= 'A' && realkey <= 'Z')) {
		$(obj).next().children().each(function(){
			var a = $(this).children().first();
			if ($(a).data('pinyin') == realkey.toUpperCase()) {
				$(this).show();
			} else {
				$(this).hide();
			}
		});
	}
}


</script>
<%}%>
<%layout("../layout/body_layout.html"){%>
<style>
    .sui-dropup.dropdown-bordered .dropdown-inner, .sui-dropdown.dropdown-bordered .dropdown-inner {border-radius: 0;width: 142px;}
    #confirm_Con [class*="span"]{margin-left:0;}
</style>
<div class="query-zone" id="confirm_Con">
    <form class="sui-form form-horizontal query-form" id="query-form">
    	<input type="hidden" name="perSize" value="${page.perSize!10}">
    	<input type="hidden" name="firstclassname" value="${parameter.firstclassname}">
    	<input type="hidden" name="secondclassname" value="${parameter.secondclassname}">
    	<input type="hidden" name="thirdclassname" value="${parameter.thirdclassname}">
    	<input type="hidden" name="brand" value="${parameter.brand}">
    	<input type="hidden" name="statusname" value="${parameter.statusname}">
        <div class="sui-row">
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on">商品名称</span>
                    <input type="text" class="input h22" name="name" value="${parameter.name}" />
                </div>
            </div>
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on">一级分类</span>
                    <span class="sui-dropdown dropdown-bordered select h22">
                        <span class="dropdown-inner">
                        	<input type="hidden" name="firstclassid" value="${parameter.firstclassid}" />
                            <a role="button" data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <i class="caret"></i>
                                <span id="firstclassid">${parameter.firstclassname!'请选择' == '' ? '请选择' : parameter.firstclassname!'请选择'}</span>
                            </a>
                            <ul id="firstclass" role="menu" aria-labelledby="drop12" class="sui-dropdown-menu">
                            	<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>
                            	<%for(class in firstclasslist!){%>
		                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="${class.id}" title="${class.name}">${class.name}</a></li>
		                        <%}%>
                            </ul>
                        </span>
                    </span>
                </div>
            </div>
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on">二级分类</span>
                    <span class="sui-dropdown dropdown-bordered select h22">
                        <span class="dropdown-inner">
                        	<input type="hidden" name="secondclassid" value="${parameter.secondclassid}" />
                            <a role="button" data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <i class="caret"></i>
                                <span id="secondclassid">${parameter.secondclassname!'请选择' == '' ? '请选择' : parameter.secondclassname!'请选择'}</span>
                            </a>
                            <ul id="secondclass" role="menu" aria-labelledby="drop12" class="sui-dropdown-menu">
                            	<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>
                            	<%for(class in secondclasslist!){%>
		                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="${class.id}" title="${class.name}">${class.name}</a></li>
		                        <%}%>
                            </ul>
                        </span>
                    </span>
                </div>
            </div>
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on">三级分类</span>
                    <span class="sui-dropdown dropdown-bordered select h22">
                        <span class="dropdown-inner">
                        	<input type="hidden" name="thirdclassid" value="${parameter.thirdclassid}" />
                            <a role="button" data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <i class="caret"></i>
                                <span id="thirdclassid">${parameter.thirdclassname!'请选择' == '' ? '请选择' : parameter.thirdclassname!'请选择'}</span>
                            </a>
                            <ul id="thirdclass" role="menu" aria-labelledby="drop12" class="sui-dropdown-menu">
                            	<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>
                            	<%for(class in thirdclasslist!){%>
		                        <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="${class.id}" title="${class.name}">${class.name}</a></li>
		                        <%}%>
                            </ul>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="sui-row">
        	<div class="span4">
                <div class="input-prepend">
                    <span class="add-on">供货商姓名</span>
                    <input type="text" class="input h22" name="customerName" value="${parameter.customerName!}" />
                </div>
            </div>
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on add_onleft">品牌</span>
                    <span class="sui-dropdown dropdown-bordered select h22">
                        <span class="dropdown-inner">
                        	<input type="hidden" name="brandid" value="" />
                            <a role="button" data-toggle="dropdown" href="#" class="dropdown-toggle" onKeyPress="changeli(event, this);" onclick="showAllLi(this);">
                                <i class="caret"></i>
                                <span id="brandname">${parameter.brand!'请选择' == '' ? '请选择' : parameter.brand!'请选择'}</span>
                            </a>
                            <ul id="brand" role="menu" aria-labelledby="drop12" class="sui-dropdown-menu">
                            	<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>
                                <%for(brand in brands!){%>
        						<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="${brand.id}" title="${brand.name}" data-pinyin="${brand.pinyin}">${brand.name}</a></li>
        						<%}%>
                            </ul>
                        </span>
                    </span>
                </div>
            </div>
            <div class="span4">
                <div class="input-prepend">
                    <span class="add-on">商品状态</span>
                        <span class="sui-dropdown dropdown-bordered select h22">
                            <span class="dropdown-inner">
                            	<input type="hidden" name="status" value="" />
                                <a role="button" data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <i class="caret"></i>
                                    <span id="statusname">${parameter.statusname!'请选择' == '' ? '请选择' : parameter.statusname!'请选择'}</span>
                                </a>
                                <ul id="status" role="menu" aria-labelledby="drop12" class="sui-dropdown-menu">
                                	<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" >请选择</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="10" title="出售中">出售中</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="0" title="待上架">待上架</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="20" title="已下架">已下架</a></li>
                                </ul>
                            </span>
                        </span>
                </div>
            </div>
            <button type="submit" class="sui-btn btn-primary add_btnlef">查询</button>
            <input type="reset" class="sui-btn btn-primary btn-reset" value="重置"/>
        </div>
        <div class="add_clear"></div>
    </form>
</div>
<table class="sui-table table-bordered" id="add_huopintab">
    <thead>
    <th width="300">货品信息</th>
    <th>一级分类</th>
    <th>二级分类</th>
    <th>三级分类</th>
    <th>品牌</th>
    <th>所属供货商</th>
    <th>货品状态</th>
    <th>创建时间</th>
    </thead>
    <tbody>
    <%for(item in pager.data!){%>
    <tr>
        <td>
            <img src="http://storage.nachepin.com/${item.headImgUrl1}!198" style="float:left;" />
            <div style="float:left;line-height: 60px;"><a href="/goods/${item.code!}.html" target="_blank">${item.name!}</a></div>
        </td>
        <td>${item.firstclassname!}</td>
        <td>${item.secondclassname!}</td>
        <td>${item.thirdclassname!}</td>
        <td>${item.brand!}</td>
        <td>${item.supplierCompany!}</td>
        <td>${decode(item.status.val, 10, '销售中', 20, '已下架', 40, '待上架', '未知')}</td>
        <td>${item.created!}</td>
    </tr>
    <%}elsefor{%>
    <tr>
        <td colspan="12" class="zanWuShuju"><p>没有数据</p></td>
    </tr>
    <%}%>
    </tbody>
</table>
<!--页码 start-->
<#page val="${pager.page!}" size="large" params="${parameter.map!}"/>
<!--页码 end-->
<%}%>
</body>
</html>