<%layout("../layout/header_layout.html"){%>
<script src="/static/js/web/zixie.js"></script>
<title>分类管理</title>
<%}%>
<script src="/static/js/web/zixie.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/web/attbite.css?v=${v}">
<%layout("../layout/body_layout.html"){%>
<script type="text/javascript" src="/static/js/web/jquery-1.js"></script>
<script type="text/javascript" src="/static/js/web/attbite.js"></script>
<script type="text/javascript">
</script>
<div class="add_clear"></div>
<div id="TreeList">
</div>
<%}%>
</body>
</html>