<%layout("../layout/header_layout.html"){%>
<title>被退回的账单</title>
<script type="text/javascript">
    $(function(){
        /**
         * 重置
         */
        $("input.btn-reset").click(function () {
            Common.reset("form.query-form");
        });
    });
</script>
<%}%>
<%layout("../layout/body_layout.html"){%>
<div class="query-zone" id="searchL">
    <form class="sui-form form-horizontal query-form" id="query-form">
        <div class="sui-row">
            <div class="span2">
                <div class="input-prepend">
                    <span class="add-on">
                        账单名称：
                    </span>
                    <input type="text" class="input h22" name="code" value="${parameter.code!}"/>
                </div>
            </div>
            <div class="span2">
                <div class="input-prepend">
                    <span class="add-on">
                        订单生成时间：
                    </span>
                    <input type="text" class="input-date h22" name="startTime" data-toggle="datepicker" value="${parameter.startTime!}">
                    <span class="add-on2">-</span>
                    <input type="text" class="input-date h22" name="endTime" data-toggle="datepicker" value="${parameter.endTime!}">
                </div>
            </div>
        </div>
        <div class="sui-row" style="margin:15px 0 0 2px;">
            <button class="sui-btn btn-primary">查询</button>
            <input type="button" class="sui-btn btn-primary btn-reset" value="重置"/>
        </div>
    </form>
</div>
<table class="sui-table table-bordered" id="yueJieTab">
    <thead>
    <tr>
        <th>退回时间</th>
        <th>账单名称</th>
        <th>退回人</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <%for(item in data){%>
    <tr>
        <td>${dts.d2d(item.backTime)}</td>
        <td>${item.code}</td>
        <td>${decode(item.status,'return_check_first','运营主管','return_check_second','财务主管','return_check_thirdly','总经理','')}</td>
        <td>
            <a href="/admin/settlement/order/detail?code=${item.code}">查看</a>
        </td>
    </tr>
    <%}elsefor{%>
        <tr>
            <td colspan="4" class="zanWuShuju"><p>没有数据</p></td>
        </tr>
    <%}%>
    </tbody>
</table>
<%}%>
