<%layout("../layout/header_layout.html"){%>
<title>进货商预存账户打款确认</title>
<%}%>
<%layout("../layout/body_layout.html"){%>
<table class="sui-table table-bordered" id="yueJieTab">
    <thead>
    <tr>
        <th width="80">存入时间</th>
        <th width="160">进货商名称</th>
        <th width="120">存入公司账户号</th>
        <th width="60">持卡人</th>
        <th width="120">银行卡卡号</th>
        <th width="70">存入金额</th>
        <th width="70">凭证</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2016-08-12</td>
        <td>天台县恒祥汽车用品有限公司</td>
        <td>1234 5654 5465 103</td>
        <td>XXX</td>
        <td>1234 5654 5465 123</td>
        <td>60000.00</td>
        <td>已存入</td>
        <td><span class="sui-btn btn-small">确认</span></td>
    </tr>
    <tr>
        <td>2016-08-12</td>
        <td>天台县恒祥汽车用品有限公司</td>
        <td>1234 5654 5465 103</td>
        <td>XXX</td>
        <td>1234 5654 5465 123</td>
        <td>60000.00</td>
        <td>已存入</td>
        <td><span class="sui-btn btn-small">确认</span></td>
    </tr>
    <tr>
        <td>2016-08-12</td>
        <td>天台县恒祥汽车用品有限公司</td>
        <td>1234 5654 5465 103</td>
        <td>XXX</td>
        <td>1234 5654 5465 123</td>
        <td>60000.00</td>
        <td>已存入</td>
        <td><span class="sui-btn btn-small">确认</span></td>
    </tr>
    <tr>
        <td>2016-08-12</td>
        <td>天台县恒祥汽车用品有限公司</td>
        <td>1234 5654 5465 103</td>
        <td>XXX</td>
        <td>1234 5654 5465 123</td>
        <td>60000.00</td>
        <td>已存入</td>
        <td><span class="sui-btn btn-small">确认</span></td>
    </tr>
    <tr>
        <td>2016-08-12</td>
        <td>天台县恒祥汽车用品有限公司</td>
        <td>1234 5654 5465 103</td>
        <td>XXX</td>
        <td>1234 5654 5465 123</td>
        <td>60000.00</td>
        <td>已存入</td>
        <td><span class="sui-btn btn-small">确认</span></td>
    </tr>
    <tr>
        <td>2016-08-12</td>
        <td>天台县恒祥汽车用品有限公司</td>
        <td>1234 5654 5465 103</td>
        <td>XXX</td>
        <td>1234 5654 5465 123</td>
        <td>60000.00</td>
        <td>已存入</td>
        <td><span class="sui-btn btn-small">确认</span></td>
    </tr>
    <!--    <tr>
            <td colspan="9" class="zanWuShuju"><p>没有数据</p></td>
        </tr>-->
    </tbody>
</table>
<%}%>
