<%layout("../layout/header_layout.html"){%>
<title>快递结算统计明细</title>
<%}%>
<%layout("../layout/body_layout.html"){%>
<table class="sui-table table-bordered" id="yueJieTab">
    <thead>
    <tr>
        <th width="100">快递单号</th>
        <th width="80">总订单号</th>
        <th width="80">支付时间</th>
        <th width="80">货品重量</th>
        <th width="80">实际称重</th>
        <th width="80">货品运费</th>
        <th>货品数量</th>
    </tr>
    </thead>
    <tbody>
    <%for(item in data){%>
    <tr>
        <td>${item.expressCode}</td>
        <td>${item.tradeCode}</td>
        <td>${dts.d2s(item.payTime)}</td>
        <td>${nums.g2k(item.weight)}</td>
        <td>${nums.g2k(item.realityWeight!)}</td>
        <td>${nums.yuan(item.freight)}</td>
        <td>${item.goodsNum}</td>
    </tr>
    <%}elsefor{%>
    <tr>
        <td colspan="7" class="zanWuShuju"><p>没有数据</p></td>
    </tr>
    <%}%>
    </tbody>
</table>
<%}%>
